.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #ffffff;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
/* Estilos dos botões de contato */
.botoes-contato {
  display: flex;
  justify-content: space-between;
  text-align: center;
  box-sizing: content-box;
  margin-top: 20px;
}

.botao {
  padding: 10px 20px;
  font-size: 1.5rem;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(94, 88, 88);
}

.botao-email {
  background-color: #141414;
}

.botao-email:hover {
  border-left: 2px solid rgb(255, 253, 253);
  border-right: 2px solid rgb(255, 253, 255);
  border-radius: 4px;
  background-color: #272626;
  transition: background-color 0.5s;
}

.email-logo {
  width: 1rem;
  border-radius: 4px;

  background: white;
  position: relative;
  margin: auto;
}

.botao-telefone {
  background-color: #141414;
}

.botao-telefone:hover {
  border-left: 2px solid #1e941e;
  border-right: 2px solid #1e941e;
  border-radius: 4px;
  background-color: #14e914;
  transition: background-color 0.5s;
  color: black;
}

.whats-logo {
  width: 1rem;
  position: relative;

  margin: auto;
  border-radius: 12px;
  background-color: #14e914;
}

.botao-instagram {
  background-color: #141414;
}

.botao-instagram:hover {
  border-left: 2px solid #a3095e;
  border-right: 2px solid #a3095e;
  border-radius: 4px;

  background-color: #a3095e;
  transition: background-color 0.5s;
}

.instagram-logo {
  width: 1rem;
  position: relative;
  margin: auto;
}

.credits,
.footer-copy {
  background-color: #141414;
  font-size: 1.5rem;
  text-align: center;
}
